
.btn-primary{
    border:none;
    font-family:$base-font-family;
    font-size:1em;
    transition: all 0.1s ease-out 0s;
    padding:7px 13px 7px 13px;
    outline:none;
    border-radius: 5px;
    text-align: center;
    position:relative;
    outline: none !important;
    cursor: pointer;

    &.full{
        width: 100% !important;
    }
}